body {
    margin: 0;
    padding: 0;
    background-image: url("../images/background-space.jpg"); alt: "galactic landscape";
    background-position: center bottom;
    font-display: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: whitesmoke;
}

p {
    color: whitesmoke;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.box {
    text-align: center;
    background-color: darkslategray;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

#button {
    color: white;
    border: 1px solid white;
    /* background: transparent; */
    background-color: darkseagreen;
    padding: 15px 45px;
    font-size: 1.3rem;
    margin-top: 1rem;
    outline: none;
    /* cursor: none; */
}
