body {
    margin: 0;
    padding: 0;
    background-image: url("/images/background-space.jpg");
    background-position: center bottom;
    font-display: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: whitesmoke;
}

p {
    color: whitesmoke;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    text-align: center;
    background-color: darkslategray;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 1px;

}

#button {
    color: white;
    border: 1px solid white;
    /* background: transparent; */
    background-color: darkseagreen;
    padding: 15px 45px;
    font-size: 1.3rem;
    margin-top: 1rem;
    outline: none;
    /* cursor: none; */
}
