body {
    margin: 0;
    padding: 0;
}

p {
    color: whitesmoke;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#board {
    background-image: url("../images/level-one-spaceship-in-jungle.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;               /* 100 == fullscreen */
    background-position: center bottom;
    position: relative;
    overflow: hidden;            /* for stopping the endless scroll */
}


#goodieCount {
    background-color: darkslategray;
    font-size:white;
    position: absolute;
    top: 2vh;
    left: 1vw;
    width: 20%;
    height: auto;
    text-align: center;
    padding: 5px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#player {
    background-image: url("../images/player-new.png"); 
    background-position: center; 
    background-size: contain;
    position: absolute;
}
/*
#player img {
    max-width: 100%;
    height: auto;
    width: 100%;
    display: block;
}
*/
#obstacles {
    background-image: url("../images/obstacle.png"); 
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
    position: absolute;
}

#goodies {
    background-image: url("../images/goodie.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
    position: absolute;
}